<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Câmera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maps">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Maps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
