:host {
  background: #f1f2ee;

  .header-md::after {
    display: none;
  }

  .home {
    background: #f1f2ee;
    padding-top: 2rem;

    &__card {
      margin: 0 1rem 1rem;
      border-radius: 0.25rem;

      &--img {
        align-items: center;
        justify-content: center;
        display: flex;

        img {
          width: 100%;
          height: 10rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 0.25rem;
        }
      }

      &--title {
        margin-top: 1rem;
        padding-right: 1rem;
        color: #000;
        font-size: 1.3rem;
      }
      &--sub-title {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
      }

      &--button {
        display: flex;
        justify-content: end;
        padding-right: 1rem;

        ion-button {
          width: 9rem;
          font-size: 0.8rem;
          height: 2rem;
        }
      }
    }
  }
}
