<ion-header>
  <ion-searchbar type="search"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of [1,2,3,4]">
        <ion-card>
          <ion-row>
            <ion-col size="6">
              <img src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=320&txt_altura=240&extensao=png&fundo_r=0.06274509803921569&fundo_g=0.996078431372549&fundo_b=0.9568627450980393&texto_r=0&texto_g=0&texto_b=0&texto=Gerador%20Imagem%20%234Devs&tamanho_fonte=10" />
            </ion-col>
            <ion-col size="6">
              <ion-row>
                  <ion-col size="12">nome: Jeferson</ion-col>
                  <ion-col size="12">idade: Jeferson</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>